<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/bulma.css" />
    <title>Signup</title>
  </head>
  <div
    style="
      background-color: rgba(0, 0, 0, 0.8);
      width: 5000px;
      height: 5000px;
      position: fixed;
      top: -10px;
    "
  ></div>
  <div
    style="
      background-color: rgba(0, 0, 0, 1);
      width:40%;
      height:70%;
      position:fixed;
      top:15%;
      left:30%;
      border-radius:25px;
    "
  ></div>

  {% if invalidPwd %}
  <div class="alert-danger">{{ content }}</div>
  {% endif %}

  <a href = "/">
  <img src=../static/logo.png width = 10% style = "position:fixed; left: 45%; top:17%;">
  </a>

  <form method="POST">
    <div style="position:fixed; left:30%; top:37%; width: 40%; margin: auto;" class="content">
      <label for="email" style="display: block; text-align: center; color:white;">Email:</label>
      <input
        id="email"
        name="email"
        type="text"
        class="input is-primary"
        style="display: block; height:25px; width:200px; margin: auto;"
        placeholder="Your email"
      />
      <br />

      <label for="pwd" style="display: block; text-align: center; color:white; padding-top: 5px;">Password:</label>
      <input
        id="pwd"
        name="pwd"
        type="password"
        class="input is-primary"
        style="display: block; height:25px; width:200px; margin: auto;"
        placeholder="Your password"
      />
      <br />

      <input
        type="submit"
        class="button is-success"
        style="display: block; width: 150px; margin: auto;"
      />
    </div>
  </form>

</html>
