<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matches</title>
  </head>
  <body>
    {% if profileUpdated %}
    <p>Profile updated.</p>
    {% endif %} {% for match in matches %}
    <p>Name: {{ match['info']['name'] }}</p>
    <p>Email: {{ match['info']['email'] }}</p>
    <p>Grade: {{ match['info']['grade'] }}</p>
    <p>
      Subject: {% for subject in match['info']['subjects'] %} {{ subject }} {%
      endfor %}
    </p>
    <p>Match Score: {{ match['score'] }}</p>
    {% endfor %}
    <a href="{{ url_for('profile') }}">profile</a>
  </body>
</html>
