<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/bulma.css" />
    <title>Signup</title>
  </head>
  <div
    style="
      background-color: rgba(0, 0, 0, 0.8);
      width: 5000px;
      height: 5000px;
      position: fixed;
      top: -10px;
    "
  ></div>
  <div
    style="
      background-color: rgba(0, 0, 0, 1);
      width:40%;
      height:70%;
      position:fixed;
      top:15%;
      left:30%;
      border-radius:25px;
    "
  ></div>

  <a href = "/">
  <img src=../static/logo.png width = 10% style = "position:fixed; left: 45%; top:17%;">
  </a>

  <form method="POST">
    <div style="position:fixed; left:30%; top:37%; width: 40%; margin: auto;" class="content">
      <label for="name" style="display: block; text-align: center; color:white;">Name:</label>
      <input
        name="name"
        type="text"
        class="input is-primary"
        style="display: block; height:25px; width:200px; margin: auto;"
        placeholder="Your name"
      />

      <label for="email" style="display: block; text-align: center; color:white; padding-top: 5px;">Email:</label>
      <input
        name="email"
        type="text"
        class="input is-primary"
        style="display: block; height:25px; width:200px; margin: auto;"
        placeholder="Your email"
      />
      <br>

      <label for="pwd" style="display: block; text-align: center; color:white; padding-top: 5px;">Password:</label>
      <input
        name="pwd"
        type="password"
        class="input is-primary"
        style="display: block; height:25px; width:200px; margin: auto;"
        placeholder="Your password"
      />

      <label for="pwd" style="display: block; text-align: center; color:white; padding-top: 5px;">Re-enter Password:</label>
      <input
        name="pwd_confirm"
        type="password"
        class="input is-primary"
        style="display: block; height:25px; width:200px; margin: auto;"
        placeholder="Re-enter your password"
      />
      <br>

      <input
        type="submit"
        class="button is-primary"
        style="display: block; width: 150px; margin: auto;"
      />

      {% if confirmFail %}
      <p style = "display: block; color: red; text-align: center; width: 300px; margin: auto; padding: 10px;">Passwords entered do not match.</p>
      {% endif %} {% if weakPwd %}
      <p style = "display: block; color: red; text-align: center; width: 300px; margin: auto; padding: 10px;">Password should be at least 6 characters.</p>
      {% endif %}

    </div>
  </form>
</html>
