<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bulma.css') }}">
    <title>Signup</title>
  </head>
  <body>
    {% if confirmFail %}
    <p>Passwords entered do not match.</p>
    {% endif %} {% if weakPwd %}
    <p>Password should be at least 6 characters.</p>
    {% endif %}
    <form method="POST">
      <p>
        <label for="name">Name:</label>
        <input id="name" type="text">
      </p>

      <p>
        <label for="email">Email:</label>
        <input id="email" type="text">
      </p>

      <p>
        <label for="pwd">Password:</label>
        <input id="pwd" type="password">
      </p>

      <p>
        <label for="pwd">Re-enter Password:</label>
        <input id="pwd_confirm" type="password">
      </p>
    </form>
  </body>
</html>
